{% extends 'home/homebase.html' %}

{% load static %}

{% block content %} 


 
  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="{% static ''%}img/fashion/log.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Account Page</h2>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>                   
          <li class="active">Login</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="aa-myaccount">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
        <div class="aa-myaccount-area">         
            <div class="row">
              <div class="col-md-6">
                <div class="aa-myaccount-login">
                <h4>Login</h4>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                 <form action="" class="aa-login-form" method="POST">
                    {% csrf_token%}
                  <label for="">Username or Email address<span>*</span></label>
                   <input type="text" name="username" placeholder="Username or email">
                   <label for="">Password<span>*</span></label>
                    <input type="password" name="password" placeholder="{% trans "Password" %}">
                    <button type="submit" class="aa-browse-btn">Login</button>
                    <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme">Remember me </label>
                    <p class="aa-lost-password"><a href="#">Lost your password?</a></p>
                  </form>
                </div>
              </div>

            </div>          
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->




{% endblock %}